---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/shared/button.astro";
---

<Layout>
  <div>縁日班の班紹介</div>
    <Button href="/kakuhansyoukai/konto">コント班</Button>
    <Button href="/kakuhansyoukai/shokuhin">食品班</Button>
</Layout>