---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/shared/button.astro";
---

<Layout>
  <div>縁日班の班紹介</div>
  <Button href="/kakuhansyoukai/konto" label="コント班" />
  <Button href="/kakuhansyoukai/shokuhin" label="食品班" />
</Layout>
