---
import backgroundImageSrc from "../../assets/header_background.webp";
import HomeLogo from "./HomeLogo.astro";
import DesktopHeaderItem from "./DesktopHeaderItem.astro";
import { getImage } from "astro:assets";

const image = await getImage({ src: backgroundImageSrc, format: "webp" });
---

<header
  class="relative hidden min-h-15 items-center justify-between bg-repeat lg:flex"
  style=`background-image: url(${image.src});`
>
  <HomeLogo />
  <nav>
    <ul class="flex flex-row items-center gap-x-2">
      <DesktopHeaderItem link="/" title="各班紹介" />
      <DesktopHeaderItem link="/" title="ご協賛について" />
      <DesktopHeaderItem
        link="https://tsukukoma.bunkasai.info"
        title="公式ホームページ"
        outlined
      />
    </ul>
  </nav>
</header>
