---
interface Props {
  link: string;
  title: string;
  outlined?: boolean;
}

const { link, title, outlined = false } = Astro.props;
---

<li>
  <a
    href={link}
    class:list={[
      "font-hakushu m-2 p-2 text-2xl text-white",
      outlined && "outline",
    ]}>{title}</a
  >
</li>
