---
import { Image } from "astro:assets";
import logoImage from "../../assets/SVG/logo.svg";
import shogaiLogoImage from "../../assets/SVG/shogai_logo.svg";
---

{/* FIXME: border-doubleが効いてなさそう */}
<span class="relative block w-full border-t border-white py-px"></span>
<footer
  class="mt-auto w-full justify-items-center border-t border-double border-white px-4"
>
  <div
    class="flex flex-wrap items-center justify-center gap-10 md:items-start md:justify-between md:gap-0"
  >
    <div class="mt-10 mb-20 flex max-w-5xl justify-center gap-x-[10%] px-12">
      <Image src={logoImage} alt="ロゴ" class="w-1/3" />
      <address class="not-italic">
        <p class="inline-block text-center">第七十五回筑駒文化祭 高三特別班</p>
        <p class="inline-block text-center text-[0.6rem]">
          The 75th Tsukukoma School Festival The 12th Grade Special Teams
        </p>
        <p class="inline-block text-center text-[0.6rem]">
          &#12306;154-0001 東京都世田谷区池尻4-7-1 筑波大学附属駒場高等学校
        </p>
      </address>
    </div>
  </div>
  <div class="flex flex-wrap justify-center">
    <p>Designed and Produced by</p>

    <Image
      src={shogaiLogoImage}
      alt="高三特別班 渉外事務局 ロゴ"
      class="mt-5 mb-15 w-2/3 object-contain"
      fetchpriority="low"
    />
  </div>
  <p class="px-2 pb-10">
    &copy;THE 75TH TSUKUKOMA SCHOOL FESTIVAL THE 12TH GRADE SPEACIAL TEAMS, All
    rights reserved
  </p>
</footer>
