---
import { Image } from "astro:assets";
import homeLogoImage from "../../assets/home_logo.webp";
---

<a href="/" class="block h-full w-30">
  {/* TODO: widthとheightちゃんと設定する */}
  <Image src={homeLogoImage} alt={"ホームロゴ"} width={300} height={90} />
</a>
