---
import { Image } from "astro:assets";
import logoImage from "../../assets/SVG/logo.svg";
---

<a href="/" class="inline-block shrink-0 leading-none">
  {/* TODO: widthとheightちゃんと設定する */}
  <Image
    src={logoImage}
    alt={"ホームロゴ"}
    class="block h-auto w-[clamp(1.5rem,36vw,9rem)]"
  />
</a>
