---
import { Image } from "astro:assets";
import logoImage from "../../assets/SVG/logo.svg";
---

<a href="/" class="block h-full w-30">
  {/* TODO: widthとheightちゃんと設定する */}
  <Image src={logoImage} alt={"ホームロゴ"} width={300} height={90} />
</a>
