---
import menuOpenImage from "../../assets/SVG/hamburger_open.svg";
import menuCloseImage from "../../assets/SVG/hamburger_close.svg";
import bgRawImage from "../../assets/SVG/header_background_partial.svg";
import HomeLogo from "./HomeLogo.astro";
import MobileMenuSection from "./MobileMenuSection.astro";
import MobileMenuItem from "./MobileMenuItem.astro";
import { getImage } from "astro:assets";
import MobileHeaderButton from "./MobileHeaderButton.astro";

const bgImage = await getImage({ src: bgRawImage });
---

<header
  class="relative flex justify-between bg-repeat p-4 lg:hidden"
  ,
  style=`background-image: url(${bgImage.src});`
>
  <HomeLogo />
  <MobileHeaderButton
    id="mobile-global-menu-open"
    imageSrc={menuOpenImage}
    ariaControls="mobile-global-menu"
    ariaExpanded="false"
    ariaLabel="メニューを開く"
  />
</header>
<nav
  id="mobile-global-menu"
  class="fixed top-0 right-0 z-100 h-full w-[75%] transform flex-col overflow-y-auto bg-gray-900"
  style="transition: transform 300ms ease-in-out; transform: translateX(100%);"
>
  <MobileHeaderButton
    id="mobile-global-menu-close"
    className="hidden self-end"
    imageSrc={menuCloseImage}
    ariaControls="mobile-global-menu"
    ariaExpanded="true"
    ariaLabel="メニューを閉じる"
  />
  <ul>
    {/* TODO: リンクは後で変える */}
    <MobileMenuSection className="my-3" title="各班紹介">
      <MobileMenuItem title="一覧" link="/groups" />
      <MobileMenuItem title="ステージ班" link="/groups/stage" />
      <MobileMenuItem title="縁日班" link="/groups/ennichi" />
      <MobileMenuItem title="食品班" link="/groups/shokuhin" />
      <MobileMenuItem title="喫茶班" link="/groups/kissa" />
      <MobileMenuItem title="コント班" link="/groups/konto" />
      <MobileMenuItem title="対話班" link="/groups/taiwa" />
      <MobileMenuItem title="渉外事務局" link="/groups/shogai" />
      <MobileMenuItem title="お土産部門" link="/groups/omiyage" />
    </MobileMenuSection>
    <MobileMenuSection className="my-3" title="ご協賛について">
      <MobileMenuItem title="ご協賛のお願い" link="/kyousan/onegai" />
      <MobileMenuItem title="協賛企業一覧" link="/kyousan/ichiran" />
    </MobileMenuSection>
    <MobileMenuSection className="my-3" title="メニュー">
      <MobileMenuItem title="食品班" link="/menu/syokuhin" />
      <MobileMenuItem title="喫茶班" link="/menu/kissa" />
    </MobileMenuSection>
    <MobileMenuSection className="my-3" title="タイムテーブル">
      <MobileMenuItem title="ステージ班" link="/timetable/stage" />
    </MobileMenuSection>
    <MobileMenuSection className="my-3" title="ご案内">
      <MobileMenuItem title="マップ" link="/goannai/map" />
    </MobileMenuSection>
  </ul>
</nav>

<script is:inline>
  const openButton = document.getElementById("mobile-global-menu-open");
  const closeButton = document.getElementById("mobile-global-menu-close");
  const menu = document.getElementById("mobile-global-menu");

  openButton.addEventListener("click", () => {
    menu.classList.add("flex");
    menu.style.transform = "translateX(0%)";
    openButton.classList.add("hidden");
    closeButton.classList.remove("hidden");
  });

  closeButton.addEventListener("click", () => {
    menu.style.transform = "translateX(100%)";
    menu.classList.remove("flex");
    // TODO: closeButtonが消えるときのアニメーションが不自然
    closeButton.classList.add("hidden");
    openButton.classList.remove("hidden");
  });
</script>
