---
interface Props {
  title: string;
  className?: string;
}
const { title, className } = Astro.props;
---

<li class:list={[className]}>
  <p class="font-hakushu mx-6 text-2xl text-white">
    {title}
  </p>
  {/* TODO: pよりh3とかの方がよい? */}
  <ul>
    <slot />
  </ul>
</li>
