---
import Title from "../components/layout/Title.astro";
import HeroImage from "../assets/hero_desktop.webp";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="ご寄付の前に"
  description="高三特別班へのご寄付に関する案内です。"
>
  <main class="pb-8">
    <Title heroImage={HeroImage.src} title="ご寄付の前に" />
    <div class="mx-auto w-full max-w-4xl px-12">
      <h2 class="font-hakushu mt-12 mb-8 text-4xl">学校行事へのご支援</h2>
      <p class="my-1.5">
        本校学校行事へのご支援にご興味をお持ちくださいましてありがとうございます。
        <br />
        該当する学校行事を以下よりお選びください。
      </p>
      <ul class="my-4 text-lg">
        <li>
          <a href="/kyousan/onegai" class="">
            (1) 第75回筑駒文化祭 高３特別班 企業協賛は
            <span class="font-bold text-[oklch(0.7178_0.1314_225.22)]">
              こちら
            </span>
          </a>
        </li>
        <li>
          <a
            href="https://giving-form.sec.tsukuba.ac.jp/tsukuba/entry.php?purposeCode=800100&supportCode=800104&ext2Memo=%EF%BC%88%EF%BC%94%EF%BC%89%20%E7%AD%91%E9%A7%92%E5%AD%A6%E6%A0%A1%E8%A1%8C%E4%BA%8B%E3%81%B8%E3%81%AE%E3%81%94%E6%94%AF%E6%8F%B4"
            class=""
            >(2) その他 学校行事へのご支援は
            <span class="font-bold text-[oklch(0.7178_0.1314_225.22)]">
              こちら
            </span>
          </a>
        </li>
      </ul>
    </div>
  </main>
</BaseLayout>
