---
import Layout from "../layouts/Layout.astro";
import ConceptSvg from "../assets/SVG/concept.svg";
import ConceptLogoSvg from "../assets/SVG/concept_logo.svg";
---

<Layout>
  <section class="w-full mx-auto px-4 py-32">
    <div class="min-h-2/4 grid grid-cols-1 lg:grid-cols-[45%_1fr] gap-12">
      <div class="flex flex-col justify-center items-center text-center gap-4 whitespace-nowrap">
        <ConceptSvg class="w-1/2 max-w-xs sm:max-w-sm md:max-w-md fill-white" />
        <ConceptLogoSvg class="w-1/2 max-w-xs sm:max-w-sm md:max-w-md fill-white" />
      </div>
      <div
        class="flex flex-col justify-center space-y-8 text-center text-[0.7rem] leading-relaxed text-gray-200 sm:text-base lg:space-y-12 lg:text-left lg:leading-loose"
      >
        <p>
          <span class="block"
            >高三特別班は本校文化祭における中核をなす組織の一つとして、</span
          >
          <span class="block"
            >先輩方が守り、受け継いできた筑駒の一つの伝統です。</span
          >
        </p>
        <p>
          <span class="block">高校生活最後の文化祭。</span>
          <span class="block"
            >仲間とともに歩み、時に悩み、我々の出した答えが</span
          >
          <span class="block">今年度の高三特別班の企画そのものであり、</span>
          <span class="block"
            >ご来場してくださる皆様への感謝と、我々の未来への誓いを込めた</span
          >
          <span class="block">最初で最高の最高傑作です。</span>
        </p>
        <p>
          <span class="block">それでは、我々の熱量の証明をご覧ください。</span>
          <span class="block">ご来場お待ちしております。</span>
        </p>
      </div>
    </div>
  </section>
</Layout>
