---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="min-h-2/4 flex justify-between items-center bg-gray-100">
        <h1 class="text-4xl font-bold mb-4">余白に記す、<br>熱量の証明。</h1>
        <p class="text-lg text-gray-700">云々云々云々云々云々云々云々云々云々云々云々云々云々云々云々云々云々云々云々。</p>
    </div>
</Layout>
