---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="w-full mx-auto px-4 py-32">
    <div class="min-h-2/4 grid grid-cols-[45%_1fr] gap-12">
      <div class="flex flex-col justify-center items-center text-center gap-4">
        <h1 class="text-6xl font-bold font-hakushu tracking-widest leading-relaxed mb-4 text-white">余白に記す、<br>熱量の証明。</h1>
        {/* TODO: 画像にする */}
        <div class="text-xl text-white font-hakushu">
          第七十五回筑駒文化祭<br />高三特別班
        </div>
      </div>
      <div class="flex flex-col justify-center space-y-12 text-2xl leading-loose text-gray-200 md:order-2">
        <p>
          高三特別班は本校文化祭における中核をなす組織の一つとして、<br>
          先輩方が守り、受け継いできた筑駒の一つの伝統です。
        </p>
        <p>
          高校生活最後の文化祭。<br>
          仲間とともに歩み、時に悩み、我々の出した答えが<br>
          今年度の高三特別班の企画そのものであり、<br>
          ご来場してくださる皆様への感謝と、我々の未来への誓いを込めた<br>
          最初で最高の最高傑作です。
        </p>
        <p>
          それでは、我々の熱量の証明をご覧ください。<br>
          ご来場お待ちしております。
        </p>
      </div>

    </div>
  </section>
</Layout>
