---
import { NEWS_TAGS, type NewsTagId } from "../../lib/newsTags";

type Props = {
  tagId: NewsTagId;
};

const { tagId } = Astro.props;
const tag = NEWS_TAGS[tagId];
---

<span
  class="inline-flex items-center border px-2 py-1 text-xs font-semibold tracking-wide"
  style={`border-color: ${tag.borderColor}; color: ${tag.textColor};`}
>
  {tag.label}
</span>
