---
import DesktopHeader from "../components/layout/DesktopHeader.astro";
import Footer from "../components/layout/Footer.astro";
import MobileHeader from "../components/layout/MobileHeader.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <MobileHeader />
  <DesktopHeader />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
