---
import DesktopHeader from "../components/layout/DesktopHeader.astro";
import Footer from "../components/layout/Footer.astro";
import MobileHeader from "../components/layout/MobileHeader.astro";
import type { ArticleProp, OgpType } from "../lib/ogp-types";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title?: string;
  description?: string;
  canonicalPath?: string;
  ogpImageUrl?: string;
  ogpType?: OgpType;
  articleProperties?: ArticleProp[];
  noIndex?: boolean;
}
---

<BaseLayout {...Astro.props satisfies Props}>
  <MobileHeader />
  <DesktopHeader />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
